
<html>
<head>
    <style type="text/css">
        .rcorners2 {
            border-radius: 5px;
            margin-left: 293px;
            padding-right: 0px;
            padding-left: 0px;
            width: 525px;
        }

        .divhead {
            background-color: #4f6cfb;
            padding-top: 7px;
            padding-bottom: 7px;
            margin-top: 0px;
            padding-left: 15px;
            height: 33px;
        }

        .font {
            font-weight: 100
        }
    </style>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="rcorners2 col-sm-8" style="margin-left:15px; border: 2px solid #0078D7; padding:0px;">

            <div style="background-color: #0078D7;height: 45px;color: white;text-align: center;font-size: 22px; padding-top: 8px; margin: 0px;">VSTS Copy Project</div>
            <div style="margin-left: 12px; font-weight:100">
                <br />
                <div>Dear Admin,</div>
                <br />
                <div>
                    I am interested in migrating more than 100 work items or more than one repository, please contact me.
                </div>
                <br />
                <div><label>Requested By :</label></div>
                <br />
                <div>Name :  $Name$</div>
                <br />
                <div>
                    Email:  <a href="mailto:$mailme$">$mymail$</a>
                </div>
                <br />
                <br />

                <div><label>Thanks & Regards</label><br /><label>Team VSTS Copy Project</label></div>
                <br />
            </div>
        </div>
    </div>
</body>
</html>
